body{
    background-color:black;
    color:white;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(237, 144, 43);
    padding: 20px;
    font-size: 32px;
    color: rgb(237, 144, 43);
}

section {
    background: rgb(202, 58, 33);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}